/* src/components/CardList.css */
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.card {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.delete-container {
    background-color: red;
    border-radius: 0 30px 30px 0;
    margin-left: -50px;
    margin-right: 40px;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.3s ease;
    opacity: 0;
}

.card:hover .delete-container {
    margin-left: 0px;
    opacity: 1;
    /* Khi hover vào ảnh, container sẽ trượt vào */
}

.delete-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50px;
}