.patient-table {
    width: 100%;
}

.table-logo1 {
    margin-left: 10px;
}

.patient-table2 {
    max-height: 180px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

table {
    width: 100%;

    border-collapse: collapse;
}

thead {
    background-color: #f5f5f5;
}


th,
td {
    width: 200px;
    padding: 10px;
    text-align: left;
    border: 1px solid #aeaeae;
}

.status.confirmed {
    color: blue;
}

.status.incoming {
    color: orange;
}

.status.cancelled {
    color: gray;
}